{% extends 'core/base.html' %}

{% block title %} About {% endblock %}

{% block content %}

<div class="text-black text-lg p-5 text-center font-bold" style="font-size: 45px; max-width: 66%; margin: 0 auto;">
    About
</div>
<br>

<div class="about-box bg-gray-500 text-white rounded-lg p-5 text-center font-sans" style="font-size: 20px; max-width: 66%; margin: 0 auto;">
    W baśniowym królestwie, gdzie góry szepcą tajemnicze opowieści, wyrastała wyjątkowa wypożyczalnia nart o imieniu "Ski Side Rentals". 
    Jej opiekun, czarodziej Adix, uczynił to miejsce niezwykłym, przyciągającym miłośników zimowych przygód z najdalszych zakątków krainy.
    Ski Side Rentals nie było zwykłą wypożyczalnią; to był magiczny portal do świata, gdzie narty były nie tylko narzędziem do zjazdów, ale 
    również źródłem niezapomnianych przeżyć. Adix, mistrz magii zimowej, sprawiał, że każdy sprzęt miał swoją własną duszę.
    Dla odważnych narciarzy, Adix tworzył narty, których krawędzie migotały w świetle księżyca, a ślady na stoku malowały się jak szlaki gwiazd. 
    Dla tych, którzy marzyli o lekkim unoszeniu się nad śniegiem, czarodziej wyczarowywał narty, które sprawiały, że zjazd był niczym taniec z wiatrem.
    Ale to nie wszystko! Ski Side Rentals oferowało także magiczne akcesoria, takie jak czarodziejskie kijki, które pomagały utrzymać równowagę, 
    czy eliksiry na energię, aby zawsze być gotowym na kolejną zimową przygodę. W tych czarodziejszych sklepach czas zwalniał, a każdy klient 
    odkrywał, że zjazd to nie tylko sport, ale prawdziwe zaklęcie. Przez całą krainę rozeszła się sława Ski Side Rentals jako miejsca, gdzie 
    magia zimowego świata łączy się z radością ze sportów narciarskich. Czarodziejski urok Adixa przyciągał entuzjastów z dalekich krain, którzy 
    pragnęli doświadczyć niezwykłego zjazdu, zanurzonego w magii górskiego królestwa. W Ski Side Rentals zimowe marzenia stawały się rzeczywistością, 
    a każdy narciarz czuł się jak bohater baśniowego opowiadania, które pisał sam Adix.
</div>
{% endblock %}